{% extends "base.html" %}

{% load blocktags truncate i18n %}

{% block title %}{% blocktrans %}Rubro{% endblocktrans %}: {{ rubro.nombre }}{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ rubro.nombre }}" />
    <meta property="og:description" content="{{ rubro.descripcion }}" />
    <meta property="og:image" content="{{ proyectos.object_list.0.foto_principal.extra_thumbnails.rubro_preview }}" />

    <script type="text/javascript" src="{{ STATIC_URL }}proyectos/js/rubro.js"></script>

    <script type="text/javascript">
        var url = "{% url json_suscribir %}";
        var rubro = "{{ rubro.id }}";
    </script>
{% endblock %}

{% block body %}
    <div class="span-23 last box">
        <div class="push-1 span-23 last item_box">
            <!-- Datos del rubro -->
            <div class="span-23 last">
                <div class="span-16">
                    <h1>Rubro: {{ rubro.nombre }}</h1>
                </div>
                <div class="span-7 last right">
                    {% if user.is_authenticated %}
                        {% if rubro in user.cliente.rubros.all %}
                        <span>{% blocktrans %}Ya está afiliado{% endblocktrans %}</span> |
                        {% else %}
                        <span class="link link_suscribir" rubro="{{ rubro.id }}">{% blocktrans %}Me interesa este rubro{% endblocktrans %}</span> |
                        {% endif %}
                    {% else %}
                        <form id="registro_form" action="{% url registro %}" method="post">
                            <input type="hidden" name="registro_rubro_id" value="{{ rubro.id }}" />
                        </form>
                        <span class="link registro_link">Me interesa este rubro</span>
                    {% endif %}
                    <!-- AddThis Button BEGIN -->
                    <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4da5c6bd7f9dcd59"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
                    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4da5c6bd7f9dcd59"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
            <div class="span-23 last">
                <div class="span-6">
                    <img src="{{ proyectos.object_list.0.foto_principal.extra_thumbnails.rubro_preview }}" title="{{ proyectos.object_list.0.nombre }}" />
                </div>
                <div class="span-17 last">
                    <h2>{% blocktrans %}Descripción{% endblocktrans %}</h2>
                    <p>{{ rubro.descripcion }}</p>
                </div>
            </div>
        </div>

        <div class="span-11 panel">
            <!-- Proyectos del rubro -->
            <div class="panel_titulo">
                <span class="proyectos">{% blocktrans %}Proyectos{% endblocktrans %}</span>
            </div>
            {% for proyecto in proyectos.object_list %}
            <div class="span-11 last item_box">
                <div class="span-4">
                    <img src="{{ proyecto.foto_principal.extra_thumbnails.preview }}" title="{{ proyecto.resumen }}">
                </div>
                <div class="span-7 last">
                    <h2>
                        <a href="{{ proyecto.get_absolute_url }}">{{ proyecto.nombre }}</a>
                    </h2>
                    <p>{{ proyecto.descripcion|trunc_char:"200" }}</p>
                    <a href="{{ proyecto.get_absolute_url }}" class="ver_mas append-bottom right">{% blocktrans %}Ver mas{% endblocktrans %}</a>
                </div>
            </div>
            {% endfor %}

            <!-- Paginador de proyectos -->
            <div class="span-11 last paginator">
                {% paginator proyectos %}
            </div>
        </div>

        <div class="push-1 span-11 last panel">
            <!-- Noticias relacionadas -->
            <div class="span-11 last">
                <div class="span-8 panel_titulo">
                    <span class="noticias">{% blocktrans %}Noticias recientes{% endblocktrans %}</span>
                </div>
                <div class="span-3 last right">
                    <a href="{% url zinnia_entry_latest_feed %}" class="suscripcion">{% blocktrans %}Suscribirme{% endblocktrans %}</a>
                </div>
            </div>
            {% for noticia in noticias.object_list %}
            <div class="span-11 last item_box">
                <div class="span-4">
                    <img src="{{ noticia.image.extra_thumbnails.small_preview }}" title="{{ noticia.title }}">
                </div>
                <div class="span-7 last">
                    <h2>
                        <a href="{{ noticia.get_absolute_url }}">{{ noticia.title }}</a>
                    </h2>
                    <p>{{ noticia.content|safe|trunc_char:"200"|striptags }}</p>
                    <a href="{{ noticia.get_absolute_url }}" class="ver_mas append-bottom right">{% blocktrans %}Ver mas{% endblocktrans %}</a>
                </div>
            </div>
            {% endfor %}

            <!-- Paginador de noticias -->
            <div class="span-11 last paginator">
                {% paginator noticias %}
            </div>
        </div>
    </div>
{% endblock %}