{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}Confirmar registro{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="span-23 last box">
        <h1>{% blocktrans %}Confirmación{% endblocktrans %}</h1>
        <p>{% blocktrans %}Para confirmar su registro en Quimera Inmobiliaria revise su correo electrónico y siga el link{% endblocktrans %}</p>
        <a href="{% url inicio %}" class="boton">{% blocktrans %}Regresar a la página de inicio{% endblocktrans %}</a>
        <span class="login_link boton">{% blocktrans %}Iniciar sesión{% endblocktrans %}</span>
    </div>
{% endblock %}
