{% load i18n blocktags humanize %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/css/blueprint/screen.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}proyectos/css/perfil.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}portal/css/base.css" />

        <style type="text/css">
            body {
                background: #ffffff;
            }
        </style>
    </head>
    <body>
        <div class="detalles span-15 last">
            <h3>{% blocktrans %}Lotes{% endblocktrans %}/{% blocktrans %}Items{% endblocktrans %}</h3>
            <table>
                <tr>
                    <th>{% blocktrans %}Foto{% endblocktrans %}</th>
                    <th>{% blocktrans %}Tipo{% endblocktrans %}</th>
                    <th>{% blocktrans %}Número{% endblocktrans %}</th>
                    <th>{% blocktrans %}Área{% endblocktrans %}</th>
                    <th>{% blocktrans %}Precio{% endblocktrans %}</th>
                    <th>{% blocktrans %}Estado{% endblocktrans %}</th>
                    <th>{% blocktrans %}Plano{% endblocktrans %}</th>
                </tr>
                {% for i in items.object_list %}
                    <tr>
                        <td><img src="{{ i.tipo_item.foto.extra_thumbnails.items.absolute_url }}" width="50px" height="50px"></td>
                        <td>{{ i.tipo_item.nombre }}</td>
                        <td>{{ i.numero }}</td>
                        <td>{{ i.tipo_item.area }}</td>
                        {% if i.tipo_item.precio %}
                            <td>${{ i.tipo_item.precio|floatformat:"0"|intcomma }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{% if i.estado == 'D' %}
                            <a href="{% url proyectos_solicitud i.id %}">
                                {{ i.human_readable_estado }}
                            </a>
                        {% else %}
                            <span>{{ i.human_readable_estado }}</span>
                        {% endif %}
                        </td>
                        <td><a href="{% url proyectos_plano_item i.id %}" target="_parent">{% blocktrans %}Ver{% endblocktrans %}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Paginador de items -->
        <div class="span-15 last">
            <div class="paginator">
                {% paginator items %}
            </div>
        </div>
    </body>
</html>