body {
    margin: 0;
}
.contenedor {
    padding: 10px;
    background: white;
    border: 2px solid #f3f3f3;
}
h2 {
    margin-bottom: 15px;
    padding-left: 30px;
    background: url("/static/common/img/Icono chat.png") no-repeat left;
    color: #DB1E3E;
    font-size: 17px;
}
ul {
    list-style: none;
}
    ul li label {
        font-weight: normal;
        font-size: 10px;
    }
p {
    margin-bottom: 5px;
}
input[type=text] {
    width: 200px;
}
input[type=submit] {
    padding: 5px 10px 5px 10px;
    color: #ffffcc;
    background: rgb(221,30,62); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(221,30,62,1) 0%, rgba(194,7,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,30,62,1)), color-stop(100%,rgba(194,7,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1e3e', endColorstr='#c20726',GradientType=0 ); /* IE6-9 */
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text] {
    padding: 5px;
    border: 1px solid #cbcbcb;
    border-right-color: #b4b4b4;
    border-bottom-color: #b4b4b4;
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 63%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,rgba(230,230,230,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 63%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,230,230,1) 63%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 63%,rgba(255,255,255,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.submit_div {
    text-align: right;
}
.helptext {
    display: block;
}
