.ui-widget-header {
    border: none;
    background: none;
}
.ui-widget-content {
    border: none;
    background: none;
    padding: 0 0 20px 0;
}
.ui-widget-content h2 {
    color: #c8102e;
    font-size: 20px;
}
.ui-tabs .ui-tabs-panel {
    padding: 40px 330px 0 50px;
}
.ui-tabs .ui-tabs-nav {
    float: right;
    background: none;
    padding: 0;
    width: 300px;
}
    .ui-tabs .ui-tabs-nav li {
        border-bottom: 3px solid #f1f1f0 !important;
        border-left: 2px solid #f1f1f0;
        padding: 15px 150px 15px 0;
        float: none;
        font-size: 15px;
    }
    .ui-tabs .ui-tabs-nav li:last-child {
        border-bottom: none !important;
    }
        .ui-tabs .ui-tabs-nav li a {
            float: none;
        }
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        padding-bottom: 20px;
        background: rgb(221,30,62); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(221,30,62,1) 0%, rgba(194,7,38,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,30,62,1)), color-stop(100%,rgba(194,7,38,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(221,30,62,1) 0%,rgba(194,7,38,1) 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1e3e', endColorstr='#c20726',GradientType=0 ); /* IE6-9 */
    }
.ui-state-default,
.ui-widget-content
.ui-state-default,
.ui-widget-header
.ui-state-default {
    border: none;
    background: white;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #b6b6b6;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: white;
}
.desarrollado-item {
    float: left;
    margin-right: 8px;;
}
.desarrollado {
    padding: 40px;
}
    .desarrollado div {
        width: 590px;
        text-align: justify;
    }
.otros-desarrollados {
    padding: 0 40px;
}