{% extends "base.html" %}

{% load blocktags truncate zinnia_tags i18n %}

{% block title %}Tag: {{ tag }}{% endblock %}

{% block body %}
     <div class="span-23 last box">
        <div class="span-24 last prepend-top">
            <h1>{% blocktrans %}Noticias sobre{% endblocktrans %} {{ tag }}</h1>
        </div>
        {% for entry in entries.object_list %}
            <div class="span-23 last item_box">
                <div class="span-4">
                    <a href="{{ entry.get_absolute_url }}">
                        <img src="{{ entry.image.extra_thumbnails.small_preview }}" title="{{ entry.title }}">
                    </a>
                </div>
                <div class="span-19 last">
                    <div class="span-19 last">
                        <h2>
                            <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                        </h2>
                        <div class="justify">
                            {{ entry.content|safe|striptags|trunc_char:"550"|safe }}
                        </div>
                    </div>
                    <div class="span-19 last prepend-top append-bottom right">
                        <a href="{{ entry.get_absolute_url }}" class="ver_mas">{% blocktrans %}Ver mas{% endblocktrans %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Paginador de noticias -->
        <div class="span-23 last paginator">
            {% paginator entries %}
        </div>

        <!-- Tag cloud -->
         <div class="span-23 last prepend-top">
             <div id="widget-tags" class="widget">
                 <h2>{% blocktrans %}Temas{% endblocktrans %}</h2>
                 {% get_tag_cloud %}
             </div>
         </div>

    </div>
{% endblock %}