{% block header %}{% endblock %}

<table border=0 width="700px" style=" padding: 10px 0 10px 0; background:none repeat scroll 0 0 #E6E8E8; font-size:13px;" >
  <tr>
    <td align= "center">
      <table style="border: none; border-collapse:collapse;">
        <tr>
          <td>
            <table cellpadding=0 style="text-align: left; background-color:#FFFFFF; color:#333; border-collapse:collapse; font-family: arial sans-serif;"  width=650px border=0 >

	      <!-- begin header -->
              <tr style="height:95px; background:none repeat scroll 0 0 #FFFFFF;">
                <td>
                  <img width=216 height=95 border="0" src="http://{{ sitio.name }}{{ STATIC_URL }}common/img/mail/iso_mail.jpg" usemap="#enlaces_cabecera" alt="QUIMERA" />
                  <map name="enlaces_cabecera"><area shape="rect" coords="45,6,181,87" href="http://{{ sitio.name }}" target="_blank"></map>
                </td>
                <td>
                  <img width=434 height=95 border="0" src="http://{{ sitio.name }}{{ STATIC_URL }}common/img/mail/franja_sup.jpg" alt="QUIMERA" />
                </td>
		</tr>
	      <!-- end header -->
		
	      <!-- begin content -->
              <tr style="border-bottom: 6px solid #C70F2E;">
                <td colspan=2 style="padding: 30px 30px 60px;">
                  {% block body %}{% endblock %}
                </td>
              </tr>
	      <!-- end content -->

	      <!-- begin footer -->
              <tr style="height:40px; background:none repeat scroll 0 0 #D1D4D7; vertical-align: bottom;">
                <td colspan=2>
                  <table cellpadding=0 style="text-align: left; border-collapse:collapse; font-family: arial sans-serif;" width=650px  border=0 >
		    <tr>
		      <td width="55%" style="padding-left:15px;">Copyright &copy; 2012 <span style="color:#C70F2E;">quimerainmobiliaria</span>
		      </td>
		      <td style="padding-left:65px;">
			<table cellpadding=0 style="text-align: left; border-collapse:collapse; font-family: arial sans-serif;"  border=0 >
			  <tr>
			    <td>Encuentranos en:
			    </td>
			    <td style="padding-left:45px;">
			      <a href="{{ inmobiliaria.link_facebook }}"><img width=24 height=24 border="0" src="http://{{ sitio.name }}{{ STATIC_URL }}common/img/mail/bot_face.png" alt="facebook" /></a>
			    </td>
			    <td style="padding-left:5px;">
			      <a href="{{ inmobiliaria.link_twitter }}"><img width=24 height=24 border="0" src="http://{{ sitio.name }}{{ STATIC_URL }}common/img/mail/bot_twit.png" alt="twitter" /></a>
			    </td>
			  </tr>
			</table>
		      </td>
		    </tr>
		  </table>
                </td>
              </tr>

	      <tr  style="height:7px;background-color:#E6E8E8">
		<td colspan=2 background="http://127.0.0.1:8082/static/common/img/mail/franja_footer.png"></td>
                </td>
              </tr>
	      <!-- end footer -->

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
